/node_modules
/coverage
/build
/staticfiles
/.vscode

*.pyc
*.sqlite3
package-lock.json

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
